* {
    background-color: antiquewhite;
}

#section {
    background-color: azure;
    border: black 1px solid;
}

#headings {
    background-color: azure;
    border: black 1px solid;
}

#image {
    background-color: azure;
    border: black 1px solid;
}

#link {
    background-color: azure;
    border: black 1px solid;
}

a {
    text-decoration: none;
}